<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login / register</title>
    <link rel="stylesheet" href="CSS/stylesheet.css">

    <script src="/socket.io/socket.io.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!--
    I know this is just a test page but we should really be putting our
    js in a separate file. Shame on us.
    -->

</head>

<body>

<div class="container-fluid text-center">
    <div class="row topper">
        <div class="col-md-1">
            <a href="mainMenuPage.ejs">Main Menu</a>
        </div>

        <div class="col-md-10">
            <h2 style="padding: 20px">Login and Registration</h2>
        </div>

        <div class="col-md-1">
            <h6 style="padding: 20px"></h6>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-6">

            <form action="loginPage.ejs" method="post">
                <h4>Login:</h4>
                <input type="hidden" name="requestedAction" value="login">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control centre" id="username" name="username" value="" style="width: 50%;">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control centre" id="password" name="password" value="" style="width: 50%;">
                </div>
                <input type="submit" value="Login" class="btn btn-outline-success">
            </form>
        </div>

        <div class="col-md-6">
            <form action="loginPage.ejs" method="post">
                <h4>Register:</h4>
                <input type="hidden" name="requestedAction" value="register">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control centre" id="username" name="username" value="" style="width: 50%;">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control centre" id="password" name="password" value="" style="width: 50%;">
                </div>
                <input type="submit" value="Register" class="btn btn-outline-success">
            </form>

        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-4">

        </div>

        <div class="col-md-4">

        </div>

        <div class="col-md-4">

        </div>
    </div>
</div>
</body>
</html>