<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Not Found!</title>
    <link rel="stylesheet" href="CSS/stylesheet.css">

    <script src="JS/scripts.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<h1>404 Game not found :<</h1>

<a href="mainMenuPage.ejs">Return to main page!</a>

</div>
</body>
</html>