<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game Not Found!</title>
    <link rel="stylesheet" href="CSS/stylesheet.css">

    <script src="JS/scripts.js"></script>

    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid text-center">
        <div class="row topper">
            <div class="col-md-1">
                <a href="mainMenuPage.ejs">Main Menu</a>
            </div>

            <div class="col-md-10">
                <h2 style="padding: 20px">Game not found!</h2>
            </div>
    
            <div class="col-md-1">
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-md-4">

            </div>

            <div class="col-md-4">
                <p>Sorry, we couldn't find your game :<</p>

                <a href="mainMenuPage.ejs">Return to main page</a>
            </div>

            <div class="col-md-4">

            </div>
        </div>
    </div>
</div>
</body>
</html>