<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tester</title>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        let socket = io();

        $(function(){
            console.log('create game request sent')
            socket.emit('createGame');
        })
    </script>
</head>
<body>
<h1>Test Lobby Page reached!</h1>
<h5>user1 = <%= username1%> </h5>
<p>vs</p>
<h5>user2 = <%= username2%></h5>

<p>number of pageviews: <%= pageviews%></p>

</body>
</html>