<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test page for testing things</title>
    <link rel="stylesheet" href="CSS/stylesheet.css">

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--
    I know this is just a test page but we should really be putting our
    js in a separate file. Shame on us.
    -->
    <script>
        let socket = io();

        socket.on('updateBoard', function (msg) {
            console.log('board update received');
            $('#board').html(msg);

        })


        $(document).ready(function(){
            $(document).on('click', '.boardTile', function (event) {//deviation from usual syntax to allow for dynamic elements
                // console.log('tile clicked!');
                console.log(this.id);
                socket.emit('test', this.id);
            });
        });
    </script>
</head>

<body>
<h1>Test Page!</h1>

<p id="tester">board tile test starts below</p>

<div id="board">

</div>



</body>
</html>